<table align="center" border="0" cellpadding="0" cellspacing="0" class="content" style="background-color: #FFFFFF">
    <tbody>
        <tr>
            <td id="templateContainerHeader" valign="top" mc:edit="welcomeEdit-01">
                <p style="text-align:center;margin:0;padding:0;"><img src="http://c0185784a2b233b0db9b-d0e5e4adc266f8aacd2ff78abb166d77.r51.cf2.rackcdn.com/templates/cog-01.jpg"
                        style="display:inline-block;"></p>
            </td>
        </tr>

        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" class="brdBottomPadd-two" id="templateContainer"
                    width="100%">
                    <tbody>
                        <tr>
                            <td class="bodyContent" valign="top" mc:edit="welcomeEdit-02">
                                <p>Hi {{name}},</p>

                                <h1><strong>Congratulations on signing up<br>
                                        for Flight School!</strong></h1>

                                <h3>Thanks for joining our free community for marketers.
                                    We're excited to share everything that we know about
                                    marketing, automation, and growing your business.</h3>
                            </td>
                        </tr>

                        <tr align="top">
                            <td class="bodyContentImage" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td align="left" style="margin:0;padding:0;" valign="top" width="50"
                                                mc:edit="welcomeEdit-03">
                                                <p style="margin-bottom:10px"><img src="http://c0185784a2b233b0db9b-d0e5e4adc266f8aacd2ff78abb166d77.r51.cf2.rackcdn.com/templates/img_profile.jpg"
                                                        style="display:block;"></p>
                                            </td>

                                            <td align="left" style="width:15px;margin:0;padding:0;" valign="top" width="15">&nbsp;</td>

                                            <td align="left" style="margin:0;padding-top:10px;line-height:1;" valign="top"
                                                mc:edit="welcomeEdit-04">
                                                <h4><strong>{{name}}</strong></h4>

                                                <h5>{{position}}</h5>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td align="center">

                <table border="0" cellpadding="0" cellspacing="0" class="brdBottomPadd-two " id="templateContainerMiddle"
                    width="100%">
                    <tbody>
                        <tr valign="top">
                            <td align="center" class="bodyContentTicks">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">

                                    <tbody>
                                        <tr valign="top">
                                            <td valign="top" mc:edit="welcomeEditImgFirst" style="width:19%;color:#505050;font-family:Helvetica;font-size:14px;padding-bottom:1.143em;">
                                                <p style="text-align:center;margin:0 0 15px 0;padding:0;">
                                                    <img height="" src="http://c0185784a2b233b0db9b-d0e5e4adc266f8aacd2ff78abb166d77.r51.cf2.rackcdn.com/templates/circle.jpg"
                                                        style="display:block;" width="91"></p>
                                            </td>

                                            <td valign="top" style="width:5%;">&nbsp;</td>

                                            <td valign="top" mc:edit="welcomeEditTxtFirst" style="width:71%;color:#505050;font-family:Helvetica;font-size:14px;padding-top:0.714em;">
                                                <h3><strong>Attend your first event</strong></h3>
                                                <h4>Take part in our free community. Connect with like minded marketers
                                                    to exchange ideas. <a href="http://www.autopilothq.com/">Learn more</a></h4>
                                            </td>

                                            <td valign="top" style="width:5%;">&nbsp;</td>
                                        </tr>

                                        <tr valign="top">
                                            <td valign="top" mc:edit="welcomeEditImgFirst" style="width:19%;color:#505050;font-family:Helvetica;font-size:14px;padding-bottom:1.143em;">
                                                <p style="text-align:center;margin:0 0 15px 0;padding:0;">
                                                    <img height="" src="http://c0185784a2b233b0db9b-d0e5e4adc266f8aacd2ff78abb166d77.r51.cf2.rackcdn.com/templates/circle.jpg"
                                                        style="display:block;" width="91"></p>
                                            </td>

                                            <td valign="top" style="width:5%;">&nbsp;</td>

                                            <td valign="top" mc:edit="welcomeEditTxtFirst" style="width:71%;color:#505050;font-family:Helvetica;font-size:14px;padding-top:0.714em;">
                                                <h3><strong>Complete your first Flight Plan</strong></h3>
                                                <h4>Flight plans are best practice methodologies to succeed with
                                                    marketing automation faster. <a href="http://www.autopilothq.com/">Learn
                                                        more</a></h4>
                                            </td>

                                            <td valign="top" style="width:5%;">&nbsp;</td>
                                        </tr>

                                        <tr valign="top">
                                            <td valign="top" mc:edit="welcomeEditImgFirst" style="width:19%;color:#505050;font-family:Helvetica;font-size:14px;padding-bottom:1.143em;">
                                                <p style="text-align:center;margin:0 0 15px 0;padding:0;">
                                                    <img height="" src="http://c0185784a2b233b0db9b-d0e5e4adc266f8aacd2ff78abb166d77.r51.cf2.rackcdn.com/templates/circle.jpg"
                                                        style="display:block;" width="91"></p>
                                            </td>

                                            <td valign="top" style="width:5%;">&nbsp;</td>

                                            <td valign="top" mc:edit="welcomeEditTxtFirst">
                                                <h3><strong>Invite your friends</strong></h3>
                                                <h4>Our community is only as good as its members. Share Flight School
                                                    with your friends. <a href="http://www.autopilothq.com/">Learn more</a></h4>
                                            </td>

                                            <td valign="top" style="width:5%;">&nbsp;</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>

        <tr>
            <td align="center" valign="top">
                <!-- BEGIN BODY // -->

                <table border="0" cellpadding="0" cellspacing="0" id="templateContainerMiddleBtm" width="100%">
                    <tbody>
                        <tr>
                            <td class="bodyContent" valign="top" mc:edit="welcomeEdit-11">
                                <h3><strong>Get a 20% discount on your Schoolforce
                                        ticket</strong></h3>

                                <h4>Exclusive to Flight School members, receive a 20%
                                    discount on your Schoolforce ticket when you use the coupon
                                    code FLIGHTSCHOOL.</h4><a class="blue-btn" href="http://blog.autopilothq.com/lead-nurturing-secrets/"><strong>Buy
                                        Ticket</strong></a>
                            </td>
                        </tr>
                    </tbody>
                </table><!-- // END BODY -->
            </td>
        </tr>

        <tr>
            <td align="center" class="unSubContent" id="bodyCellFooter" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" id="templateContainerFooter" width="100%">
                    <tbody>
                        <tr>
                            <td valign="top" width="100%" mc:edit="welcomeEdit-11">
                                <p style="text-align:center;"><img src="http://c0185784a2b233b0db9b-d0e5e4adc266f8aacd2ff78abb166d77.r51.cf2.rackcdn.com/templates/cog-03.jpg"
                                        style="margin:0 auto 0 auto;display:inline-block;"></p>

                                <h6 style="text-align:center;margin-top: 9px;">COG Inc</h6>

                                <h6 style="text-align:center;">589&#8203; Howard&#8203; Street&#8203;</h6>

                                <h6 style="text-align:center;">San&#8203; Francisco,&#8203; CA&#8203; 94105&#8203;</h6>

                                <h6 style="text-align:center;margin-top: 7px;"><a href="--unsubscribe--">unsubscribe</a></h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>